/* ----- Variable ----- */
:root{
    --text-primary-color : #474747;
}

/* ----- Universal class ----- */
.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

/* ----- Home page ----- */
.dictionary-redirect{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-dictionary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 5px;
    border: thin solid #282E39;
}

.img-dictionary .img-legend{
    width: 100%;
    padding: 10px 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-dictionary span{
    background-color: #e4e4e4;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.img-dictionary:hover{
    background-color: #282E39;
}
.img-dictionary:hover a{
    color: #fff;
}

.img-dictionary:hover span{
    color: #282E39;
}
/* ----- Dictionnaries pages ----- */
.content div p{
    text-align: justify;
}

/* ----- Authors page ----- */
.authors_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.authors{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    min-width: 250px;
}

.authors .title{
    margin-top: 16px;
    margin-bottom: 8px;
}

.bg-dictionary{
    background-image: url('../../images/dictionary.jpg');
    background-size: cover;
    filter: grayscale(0.5);
}

.counter-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.counter-card{
    width: 250px;
    background-color: transparent;
    border: 2px dashed grey;
    margin: 20px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter-card div,
.counter-card span{
    margin: 10px 0;
}

.counter-card .number{
    font-size: 35px;
    font-weight: bold;
}

.counter-card .desc{
    text-align: center;
    font-size: 16px;
}

.counter-card span{
    font-size: 30px;
    color: #fff;

}

/* ----- Search page ----- */

.mode_choice .mode{
    text-align: center;
}

.mode_choice .mode div{
    border: thin solid black;
    padding: 5px 10px;
    margin: 5px 0;
}

.mode_choice .mode.active div{
    background-color: #97A9BD;
    color: #fff;
}

.mode_choice .mode div:hover{
    color: #fff;
    background-color: #282E39;
}

.search_content form{
    margin-bottom: 20px;
}

.search_by{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

    /* RadioButton search method */
.search_by input{
    display: none;
}

.search_by label{
    cursor: pointer;
    padding: 5px;
    border: thin solid black;
}

.search_by input:checked + label{
    background-color: #97A9BD;
    color: #fff;
}

.search_by label:hover{
    color: #fff;
    background-color: #282E39;
}

    /* Alphabet direct */
#alpha_search{
    display: block;
}

#alpha_search .letter_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.letter_container span{
    padding: 5px;
    cursor: pointer;
}

.letter_container span:hover{
    background-color: #97A9BD;
    color: #fff;
}

.method_hidden{
    display: none!important;
}
    /* Word direct */
#word_search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#word_search .input_container{
    position: relative;
    height: 48px;
    min-width: 200px;
    margin-top: 10px;
}

#word_search .input_container input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: 1px solid #97A9BD;
    border-radius: 8px;
    outline: none;
    padding: 16px;
    background: none;
    z-index: 1;
}

#word_search .input_container label{
    position: absolute;
    left: 16px;
    top: 12px;
    padding: 0 4px;
    background-color: #fff;
    color: #97A9BD;
    font-size: 16px;
    transition: 0.2s linear;
}

#word_search .btn-search{
    display: block;
    min-width: 200px;
    margin-top: 10px;
    padding: 12px 32px;
    outline: none;
    border: none;
    background-color: #97A9BD;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s linear;
}

#word_search .btn-search:hover{
    background-color: #282E39;
}

#word_search .btn-search:active{
    background-color: #000;
}

#word_search .input_container input:focus + label{
    top: -8px;
    left: 12px;
    color: #282E39;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
}

#word_search .input_container .input_search:not(:placeholder-shown).input_search:not(:focus) + label{
    top: -8px;
    left: 12px;
    color: #282E39;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
}

#word_search .input_container input:focus{
    border: 2px solid #282E39;
}

@media screen and (max-width: 978px){
    /* ----- Navbar ----- */
    #header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 750px){
    /* ----- Search page ----- */
    .letter_container span{
        padding: 10px;
    }

    .img-dictionary{
        width: 90%;
    }
}