h1{
    font-weight: 300;
}

a{
    color: var(--color-primary);
    text-decoration: none;
}

a:hover{
    color: var(--color-primary-dark);
    text-decoration: underline;
}

p{
    font-size: 15px;
}
/* -----Page intro----- */

.intro_body{
    background-color: var(--color-primary);
}

.container{
    max-width: 980px;
}

.logo_NSU{
    width: 100%;
}

.intro_content{
    background-color: var(--color-secondary);
}

