@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500");


*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 300;
    box-sizing: border-box;
}

:root{
    --color-primary: #12bbad;
    --color-primary-dark: #0b756c;
    --color-secondary: #eeeeee;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

.max-width{
    max-width: 980px;
}

/* ----- Banner ----- */
.banner{
    background-color: var(--color-primary);
    margin-top: 100px;
    margin-bottom: 45px;
}

.banner_title h2{
    font-weight: 100;
    color: #fff;
}

/* ----- Footer ----- */
footer{
    background-color: black;
    color: #999;
}

footer .svg{
    filter: invert(1);
    width: 42px;
}

/* ----- Navbar ----- */
.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 20px 30px;
    top: 0;
    z-index: 100;
    transition: 0.3s linear;
}

.navbar.sticky{
    background: black;
}

.navbar .nav-container{
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.navbar .home img{
    filter: invert(1);
    width: 20px;
}

.navbar .home div{
    padding-top: 2px;
}

.navbar a img{
    width: 23px;
    padding-bottom: 4px;
}

.navbar .menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 100;
    display: none;
}

.navbar .menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: 0.3s linear;
}

.navbar .navbar-menu{
    display: flex;
    align-items: flex-end;
}

.navbar a.home,
.navbar .navbar-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    margin-left: 30px;
    transition: 0.2s linear;
}

.navbar .dropdown button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
}

.navbar .dropdown a{
    color: var(--color-primary);
    margin: 0;
    padding: 0 10px 0 10px;
}

.navbar .dropdown .dropdown-item:active{
    background-color: var(--color-primary);
    color: #fff;
}

.navbar .dropdown:hover .dropdown-menu{
    display: block;
}

.navbar a:hover.home ,
.navbar .navbar-menu a:hover{
    color: black;
}

.navbar.sticky a:hover.home ,
.navbar.sticky .navbar-menu a:hover{
    color: var(--color-primary);
}

/* ----- Universal Body ----- */
.general_body h1{
    font-weight: 300;
}

.general_body h2{
    font-weight: 300;
}

.general_body h3{
    font-weight: 300;
}

.general_body h4{
    font-weight: 300;
}

.general_body h5{
    font-weight: 300;
}

.general_body a{
    color: var(--color-primary);
    text-decoration: none;
}

.general_body a:hover{
    color: var(--color-primary-dark);
    text-decoration: underline;
}

.general_body p{
    font-size: 13px;
    font-weight: 400;
}

.general_body{
    background-color: var(--color-primary);
}

.general_body .logo_NSU{
    width: 100%;
}

.general_body .general_content{
    background-color: var(--color-secondary);
}

.general_body .small-text{
    font-size: 12px;
}

.general_content .p-separator{
    border-left: thin solid #dee2e6;
}

.general_content p.before-list{
    margin-bottom: 0;
}

.general_content li{
    font-size: 13px;
}


/* MAX : Equivalent of Large breakpoint (bootstrap)*/
@media screen and (max-width: 992px){
    /* ----- Navbar ----- */

    .navbar a.home{
        margin-left: 0;
    }
        
    .navbar .menu-toggler{
        display: block;
    }

    .navbar .navbar-menu{
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: black;
        top:0;
        right: -100%;
        max-width: 250px;
        padding: 80px 20px;
        transition: 0.3s linear;
    }

    .navbar .dropdown{
        margin: 20px 0 20px 5px;
        max-width: 155px;
    }

    .navbar .navbar-menu a{
        display: block;
        margin: 20px 0 20px 5px;
    }

    .navbar .dropdown a{
        margin: 5px 0;
    }

    .navbar .navbar-menu a:hover{
        color: var(--color-primary);
    }

    .sticky .navbar-menu{
        background-color: black;
    }

    .navbar-menu.active{
        right: 0;
    }

    .menu-toggler.active span:nth-child(1){
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler.active span:nth-child(2){
        opacity: 0;
    }

    .menu-toggler.active span:nth-child(3){
        transform: rotate(45deg);
        bottom: 14px;
    }

}

/* MAX : Equivalent of Medium breakpoint (bootstrap)*/
@media screen and (max-width: 768px){
    /* ----- Footer ----- */
    footer .svg{
        width: auto;
    }
}