@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500");


*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 300;
    box-sizing: border-box;
}

:root{
    --color-primary: #12bbad;
    --color-primary-dark: #0b756c;
    --color-secondary: #eeeeee;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

/* -----Banner----- */
.banner{
    background-color: var(--color-primary);
}

.banner_title h1{
    text-align: center;
    color: var(--color-secondary);
}

/* -----footer----- */
footer{
    background-color: black;
    color: #999;
}

footer .svg{
    filter: invert(1);
}


/* Equivalent of Medium breakpoint (bootstrap)*/
@media screen and (min-width: 768px){
    footer .svg{
        width: 42px;
    }

}